#main-footer {
  background: #500050;
  color: #ffffff;
}

#page-header {
  height: 200px;
  background: url("../assets/image/camilo-jimenez-1bY8jXZBRk0-unsplash.jpg");
  background-position: "20% 20%";
  background-attachment: fixed;
  color: #ffffff;
  border-bottom: 1px #eeeeee solid;
  padding-top: 60px;
}
